/* imoprt fonts from fonts.css file */
@import url('./fonts.css');





/* Start Navigation Bar 

.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_are.main-menu.navbar{
    padding: 1rem 20rem;
}
.header_area.main-menu.nav-item.nav-link{
    font-family: "Roboto",cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
}
.header_are.main-menu.navbar-right{
    margin-right: 100px;
}

/* End Navigation Bar */





/* Slidebar */
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/* End Sidebar */

/* slide */
.container{
    margin-top: 4%;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}

/* Slide */



/* Footer 
.footer{
    margin-top: 8%;
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
.footer.footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
/* End Footer */


.footer-bottom {
 background:#343a40;
 text-align:center;
 padding:10px 12px;
 margin-top: 4%;
}
.footer-bottom p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.footer-bottom p a {
 color:#5867dd
}
.footer-bottom p a:hover {
 color:#f9fffe
}
